@import "tailwindcss";

@theme {
  --color-gray-950: #030712;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: #f7f2ec;
  color: #333333;
}
